@font-face{
	font-family: 'thinx';
	src: url('Graphik-Medium.ttf');
}

html{
	font-family: 'thinx';
}

body{
	background-color: #f8f8f9;
}
	
a{
	text-decoration: none;
}
a:visited{
	color: black;
}

.nav{
	text-align: right;
	padding: 10px 10px 10px 10px;
	font-size: 1.5em;
}
a#thinx{	
	margin-right: 15%;
}
.nav a{
	padding: 10px 10px 10px 10px;
}

.lefttext{
	line-height: 1.8em;
	position: sticky;
	top: 13em;
	overflow: hidden;
	margin-top: 13em;
	margin-left: 5em;
}
.lefttext span{
	font-size: 1em;
}

.main{
	overflow: hidden;	
	margin-top: -27em;
	margin-left: 25em;
}
.main img{
	width: 50%;
	height: 50%;
	cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
}
.out{
	cursor: -webkit-zoom-out; cursor: -moz-zoom-out;
}
	
.righttext{
	overflow: hidden;	
	float: right;	
	margin-right: 5em;
	position: sticky;
	top: 13em;
	margin-top: -200em;
}

.colorbox{
	display: inline-block;
	/*background-color: papayawhip;*/
}
.colorbox div{
	font-size: 1em;
	float: left;
	padding: 5px 30px 5px 30px;
	border: solid 1px black;
	cursor: pointer;
}

.quan{
	font-size: 1em;
	display: inline-block;
}
.quan div{
	float: left;
	border:solid 1px black;
}
#min, #plus{	
	padding: 5px 15px 5px 15px;
	cursor: pointer;
}
#eq{
	padding: 5px 79px 5px 79px;
}

select{
	padding: 5px 30px 5px 30px;	
	border: solid 1px black;
}

select#sizescroll {
  -webkit-appearance: button;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right black;
  overflow: hidden;
  padding: 10px 10px 10px 10px;
  width: 29.9em;
  background-color: white;
  color: black;
  border-radius: 0px;
  background-position-x: 27em;
}
option{
	font-size: 1.5em;
}

#quest{
	font-size: .6em;
	text-decoration: underline;
	cursor: pointer;	
}

.cart{
	text-align: center;
  padding: 10px 10px 10px 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: solid 1px black;
}
.cart:hover{
	background-color: white;
	color: black;
}

#cycle{
	font-size: 1.2em;
	text-decoration: underline;
	cursor: pointer;
}

.ending{
	padding-top: 5em;
	padding-bottom: 5em;
	margin-top: 5em;
	position: absolute;
	background-color: white;
	width: 100%;
}
.first, .fourth{
	float: left;
	margin-left: 10em;
}
.first img, .fourth img{
	width: 50%;
	height: 50%;
}
#ft, #st, #tht,
#fot, #fit{
	text-decoration: underline;
	cursor: pointer;
}

.second img, .fifth img{
	width: 50%;
	height: 50%;
}
.second{
	margin-top: -25em;
	float: right;
	display: inline-block;
}

.third img{
	width: 50%;
	height: 50%;
}
.third{
	margin-top: 5em;
	display: inline-block;
	margin-left: 30%;
}

.fourth{
	margin-top: 10em;
}
.fifth{
	margin-top: -27em;
	float: right;
	display: inline-block;	
}

.main-carousel{
	display: none;
}

	
@media only screen and (max-width: 414px){
	.main{
		display: none;
	}
	.main-carousel{
		display: block;
		margin-top: -43em;
	}

	.carousel-cell {
	  width: 100%;
	  height: 35em;
	  counter-increment: gallery-cell;
	}

	.carousel-cell:before {
	  display: block;
	  text-align: center;
	  content: counter(gallery-cell);
	  color: white;
	}
	.flickity-page-dots{
		margin-top: -43em;
	}

	.lefttext{
		line-height: 1.8em;
		position: relative;
		overflow: hidden;
		margin-top: 30em;
		margin-left: 0em;
		text-align: center;
		width: 100%;
	}
	strong{
		font-size: 1.3em;
	}

	.righttext{
		line-height: 1.8em;
		position: relative;
		overflow: hidden;
		margin-top: 12em;
		margin-right: 0em;
		text-align: center;
		width: 100%;
	}
	.cart{
		margin-top: -2em;
	}

	.ending{
		margin-top: 55em;
	}

	.first img{
		width: 100%;
		height: 100%;
		margin-left: -5em;
	}

	.second{
		margin-top: 3em;
		margin-left: 7em;
	}
	.second img, .fifth img{
		height: 60%;
		width: 60%;
	}
	.third, .fourth{
		margin-top: 3em;
		margin-left: 5em;
	}
	.third img, .fourth img{
		width: 80%;
		height: 80%;
	}
	.fourth img{
		width: 80%;
		height: 80%;
	}
	.fifth{
		margin-top: 3em;
		margin-left: 7em;	
	}
}






