@font-face{
	font-family: 'thinx';
	src: url('Graphik-Medium.ttf');
}

html{
	font-family: 'thinx';
}

body{
	background-color: #f8f8f9;
}
	
a{
	text-decoration: none;
}
a:visited{
	color: black;
}

.nav{
	text-align: right;
	padding: 10px 10px 10px 10px;
	font-size: 1.5em;
}
a#thinx{	
	margin-right: 15%;
}
.nav a{
	padding: 10px 10px 10px 10px;
}

.lefttext{
	line-height: 1.8em;
	position: sticky;
	top: 13em;
	overflow: hidden;
	margin-top: 13em;
	margin-left: 5em;
}
.lefttext span{
	font-size: 1em;
}

.main{
	overflow: hidden;	
	margin-top: -27em;
	margin-left: 25em;
}
.main img{
	width: 50%;
	height: 50%;
}














